@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: black;
}

.main-head {
  background: #CECECE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height 200ms;
  transition: height 200ms;
  height: 180px;
  -webkit-box-shadow: 0 -5px 15px;
          box-shadow: 0 -5px 15px;
}

.main-head .logo {
  font-size: 0.8em;
  letter-spacing: 2px;
  padding-left: 10px;
}

.main-head .logo h1 {
  line-height: 1.8;
}

.main-head .logo sup {
  font-size: 14px;
}

.main-head .social-links i {
  display: none;
  padding: 5px;
}

.main-head .burgerbtn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  padding-right: 10px;
}

.main-head .burgerbtn-container .fas {
  font-size: 25px;
}

.show-nav {
  height: 50px;
}

.navbar {
  padding-left: 20px;
  position: absolute;
  top: 50px;
  height: 120px;
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  overflow: hidden;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  padding-top: 5px;
}

.navbar ul a {
  text-decoration: none;
}
.hidden {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 100ms ease-in-out;
  transition: height 100ms ease-in-out;
}

@media screen and (min-width: 600px) {
  .main-head {
    background: #CECECE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: height 200ms;
    transition: height 200ms;
    height: 50px;
    -webkit-box-shadow: 0 -5px 15px;
            box-shadow: 0 -5px 15px;
  }
  .main-head .logo {
    font-size: 0.8em;
    letter-spacing: 2px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-head .logo h1 {
    line-height: 1.8;

  }
  .main-head .logo sup {
    font-size: 14px;
  }

  .main-head .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 120px;
    overflow: initial;
  }
  .main-head .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
  }
  .main-head .social-links i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-head .burgerbtn-container {
    display: none;
  }
}


/*# sourceMappingURL=style.css.map */