* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: helvetica;
}
h1 {
  font-weight: 400;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px;
}
button {
  background: none;
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
}
.prev-next-container button {
  border: none;
}
.text {
  padding: 5px 5px 0;
}
.photo {
  width: 30%;
  border-radius: 50%;
  box-shadow: 7px -3px 0 aquamarine;
  margin: 15px 0;
}
.personName {
  font-weight: 300;
}
