* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.13);
  height: 50px;
  background-color: #fff;
}
.simple--hex {
  display: flex;
}
h2 {
  padding: 0 10px;
}
main {
  height: 400px;
  width: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #cecece;
}
