* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  /* background-color: aliceblue; */
  margin: auto;
  max-width: 400px;
  padding: 40px 20px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  letter-spacing: 3px;
  line-height: 0.8;
  font-weight: 600;
}
#value {
  display: flex;
  justify-content: center;
  font-size: 4em;
  margin: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0 10px;
  font-size: 0.7em;
  letter-spacing: 3px;
  font-weight: 800;
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  border-radius: 5px;
  border: solid 2px #202020;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}
