* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #707070
}
:root {
    --main-pink: #ff00ac; 
    --secondary-green: rgba(41, 97, 25, 0.8);
    --container-pad: 0 160px;
    --headings: 40px;
}
/** Home */
.home {
    height: 100vh;
    background-color: #f8f7f2;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.home--header {
    display: flex;
    align-items: center;
}
.home--header span{
    color: var(--main-pink);
}
.logo {
    width: 50px;
    padding-right: 10px;
}
.nav--links {
    display: flex;
    list-style: none;
}
.nav--links li {
   padding-right: 20px;
   padding-left: 30px;
   font-size: 12px; 
}
.nav--links :not(:first-child){
    border-left: 1px solid var(--main-pink);
}
.btn {
    background-color: transparent;
    border: 1px solid var(--main-pink);
    border-radius: 15px;
    padding: 8px 20px;
    margin-left: 10px;
}
.sign-in {
    border: none;

}
.home--section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.section--photos {
    display: flex;
    height: 80%;
}
.background-photo {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 500px;
    width: 500px;
    background-image: url(../images/green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.photo {
    width: 65%;
}
.section--text {
    width: 35%;
    margin-right: 50px;
}
.section--text h1 {
    text-indent: -150px;
    text-align: right;
    font-size: 80px;
    color: rgb(179, 87, 151);
    line-height: 1.2;
    text-shadow: 1px 1px 4px var(--secondary-green);
}
.section--text p {
    padding-left: 60px;
    padding-top: 20px;
}
.learn-more  {
    font-weight: 600;
    padding-top: 10px;
}
.learn-more a {
    color: var(--main-pink);
    text-decoration: none;
}
 
.start {
    display: inline-flex;
    text-indent: 0;
    vertical-align: middle;
    align-self: center;
    padding: 35px 25px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px var(--secondary-green);
    font-size: 14px;
    background-color:var(--main-pink) ;
}
.start a {
    text-decoration: none;
    color: #f8f7f2;
}
/** Categories*/
.categories {
    height: 100vh;
    padding: var(--container-pad);
}
.categories--description{
    height: 50vh;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    
}
.categories--sliders {
    height: 50vh;
}
.description--text{
    width: 360px;
}
.description--text h1 {
    font-size: var(--headings);
}
.categories--sliders {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    
}
.card {
    background-color: #cecece;
    height: 265px;
    width: 220;
    
}
